<ion-view view-title="Aide">
  <ion-content class="cards-flow">

      <div class="list card">

          <div class="card-avatar">
              <img src="img/usr/5.jpg">
          </div>

          <div class="item item-body">

              <div class="card-body-head">
                  <p class="cook-img" style="background-image: url(img/rec/10.jpg); background-size: cover;">
                  </p>

                  <div class="btns btns-ing">
                      <button class="button button-light">
                          <img ng-src="img/basket-w.png" alt="" />
                      </button>
                  </div>
              </div>
                
              <p class="lib">
                <span>
                    <img src="img/chef.png" height: 25px; />
                </span> 
                Chief By 
              </p>
              <p class="chief">
                <span class="first">Victorien Tchuankam</span>
                <span class="second">
                    <span>
                        <span>
                            <img src="img/lvl.png" />
                        </span>
                        Facile
                    </span>
                  </span>
              </p>

              <h3 class="card-recipes-title">Chilli and fish sauce</h3>

              <p class="remark">
                  This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
                  the content is from a card-body consisting of an image and paragraph text.

              </p>

              <p class="chief foot">
                  <span class="first">15 ont éssayés</span>
                  <span class="second">
                      <span>
                          182 partages
                      </span>
                  </span>
              </p>

              <p class="item item-divider card-footer">
                  <span>
                      <span>
                          <img src="img/plus.png" />
                      </span> 
                    mes recettes
                  </span>
                  <span>
                      <span>
                          <img src="img/comment.png" />
                      </span> 
                    commenter
                  </span>
                  <span>
                      <span>
                          <img src="img/share.png" />
                      </span> 
                    partager
                  </span>
              </p>

          </div>

      </div>

      <div class="list card">

          <div class="card-avatar">
              <img src="img/usr/1.jpg">
          </div>

          <div class="item item-body">

              <p class="cook-img" style="background-image: url(img/rec/1.jpg); background-size: cover;">
              </p>

              <p class="lib"><i class="icon ion-person"></i> Chief By </p>
              <p class="chief">
                  <span class="first">Victorien Tchuankam</span>
                  <span class="second">le 15 juin</span>
              </p>

              <h3 class="card-recipes-title">Chilli and fish sauce</h3>

              <p class="remark">
                  This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
                  the content is from a card-body consisting of an image and paragraph text.
              </p>

              <p class="item item-divider card-footer">
                  <span><i class="ion-connection-bars"></i> Facile</span>
                  <span><i class="ion-knife"></i><i class="ion-fork"></i> cook by 16 pers.</span>
                  <span><i class="ion-clock"></i> 45 min.</span>
              </p>

          </div>

      </div>

      <div class="list card">

          <div class="card-avatar">
              <img src="img/usr/2.jpg">
          </div>

          <div class="item item-body">

              <p class="cook-img" style="background-image: url(img/rec/2.jpg); background-size: cover;">
              </p>

              <p class="lib"><i class="icon ion-person"></i> Chief By </p>
              <p class="chief">
                  <span class="first">Victorien Tchuankam</span>
                  <span class="second">le 15 juin</span>
              </p>

              <h3 class="card-recipes-title">Chilli and fish sauce</h3>

              <p class="remark">
                  This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
                  the content is from a card-body consisting of an image and paragraph text.
              </p>

              <p class="item item-divider card-footer">
                  <span><i class="ion-connection-bars"></i> Facile</span>
                  <span><i class="ion-knife"></i><i class="ion-fork"></i> cook by 16 pers.</span>
                  <span><i class="ion-clock"></i> 45 min.</span>
              </p>

          </div>

      </div>

      <div class="list card">

          <div class="card-avatar">
              <img src="img/usr/5.jpg">
          </div>

          <div class="item item-body">

              <p class="cook-img" style="background-image: url(img/rec/5.jpg); background-size: cover;">
              </p>

              <p class="lib"><i class="icon ion-person"></i> Chief By </p>
              <p class="chief">
                  <span class="first">Victorien Tchuankam</span>
                  <span class="second">le 15 juin</span>
              </p>

              <h3 class="card-recipes-title">Chilli and fish sauce</h3>

              <p class="remark">
                  This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
                  the content is from a card-body consisting of an image and paragraph text.
              </p>

              <p class="item item-divider card-footer">
                  <span><i class="ion-connection-bars"></i> Facile</span>
                  <span><i class="ion-knife"></i><i class="ion-fork"></i> cook by 16 pers.</span>
                  <span><i class="ion-clock"></i> 45 min.</span>
              </p>

          </div>

      </div>

      <div class="list card">

          <div class="card-avatar">
              <img src="img/usr/7.jpg">
          </div>

          <div class="item item-body">

              <p class="cook-img" style="background-image: url(img/rec/7.jpg); background-size: cover;">
              </p>

              <p class="lib"><i class="icon ion-person"></i> Chief By </p>
              <p class="chief">
                  <span class="first">Victorien Tchuankam</span>
                  <span class="second">le 15 juin</span>
              </p>

              <h3 class="card-recipes-title">Chilli and fish sauce</h3>

              <p class="remark">
                  This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
                  the content is from a card-body consisting of an image and paragraph text.
              </p>

              <p class="item item-divider card-footer">
                  <span><i class="ion-connection-bars"></i> Facile</span>
                  <span><i class="ion-knife"></i><i class="ion-fork"></i> cook by 16 pers.</span>
                  <span><i class="ion-clock"></i> 45 min.</span>
              </p>

          </div>

      </div>

  </ion-content>
</ion-view>
